{
  "defaultSeverity": "error",
  "extends": ["stylelint-config-standard", "stylelint-config-sass-guidelines"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "import-notation": null,
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates-with-different-values"]
      }
    ]
  }
}
